# ğŸ˜ SQL for Data Engineers

Ce module couvre les **fondamentaux et concepts avancÃ©s de SQL**, avec une pratique directe via **Python + DuckDB**.

---

## âš™ï¸ Approche de ce cours

```
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚                    ğŸ¯ FOCUS DU COURS                            â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                                                                 â”‚
â”‚   Ce cours utilise Python + DuckDB pour apprendre SQL          â”‚
â”‚                                                                 â”‚
â”‚   âœ… SQL standard (compatible PostgreSQL, MySQL, etc.)          â”‚
â”‚   âœ… ExÃ©cution directe dans Jupyter (pas de serveur)            â”‚
â”‚   âœ… IntÃ©gration native avec Pandas                             â”‚
â”‚   âœ… CompÃ©tences transfÃ©rables Ã  tout SGBD                      â”‚
â”‚                                                                 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

> ğŸ’¡ **Le SQL appris ici fonctionne sur PostgreSQL, MySQL, SQLite, BigQuery, Snowflake, etc.** avec des variations mineures de syntaxe.

---

## ğŸ“‹ PrÃ©requis

| Niveau | CompÃ©tence |
|--------|------------|
| âœ… Requis | Avoir suivi le module `06_intro_relational_databases` |
| âœ… Requis | Comprendre les concepts de tables, colonnes, clÃ©s |
| âœ… Requis | Bases de Python (module 04 et 05) |

## ğŸ¯ Objectifs du module

Ã€ la fin de ce notebook, tu seras capable de :

- âœ… Ã‰crire des requÃªtes `SELECT`, `WHERE`, `ORDER BY`
- âœ… Utiliser les fonctions d'agrÃ©gation (`COUNT`, `SUM`, `AVG`)
- âœ… MaÃ®triser `GROUP BY` et `HAVING`
- âœ… Faire des jointures (`JOIN`, `LEFT JOIN`)
- âœ… Utiliser les fonctions de date (`DATE_TRUNC`, `EXTRACT`)
- âœ… Utiliser `CASE`, les CTEs et les Window Functions
- âœ… **ExÃ©cuter du SQL depuis Python avec DuckDB**

---

> ğŸ’¡ **Ce notebook est interactif** : tu peux exÃ©cuter les cellules de code directement !

<a href="https://colab.research.google.com/github/diakite-data/data-engineering-bootcamp/blob/main/notebooks/beginner/07_sql_for_data_engineers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>> ğŸ’¡ **Conseil** : Cliquez sur le badge ci-dessus pour exÃ©cuter ce notebook directement dans Google Colab (aucune installation requise).

---

## ğŸ§  C'est quoi SQL ?

**SQL** (Structured Query Language) est un **langage de requÃªtes** pour interagir avec des bases de donnÃ©es relationnelles.

| Action | Commande SQL |
|--------|-------------|
| ğŸ” **Rechercher** | `SELECT` |
| âœï¸ **InsÃ©rer** | `INSERT` |
| ğŸ”„ **Modifier** | `UPDATE` |
| ğŸ—‘ï¸ **Supprimer** | `DELETE` |
| ğŸ“Š **AgrÃ©ger** | `COUNT`, `SUM`, `AVG` |
| ğŸ”— **Joindre** | `JOIN` |

---

## ğŸ§° Pourquoi c'est essentiel pour un Data Engineer ?

- Interroger les **data warehouses** (BigQuery, Snowflake, Redshiftâ€¦)
- Extraire / filtrer les donnÃ©es pour les pipelines
- VÃ©rifier la **qualitÃ© des donnÃ©es**
- CrÃ©er des **vues** et **agrÃ©gats** pour les dashboards

---

## ğŸŒ Outils en ligne pour tester du SQL

Avant de plonger dans Python + DuckDB, sache qu'il existe de nombreux **outils en ligne gratuits** pour tester des requÃªtes SQL sur diffÃ©rents SGBD. C'est utile pour :

- ğŸ§ª Tester rapidement une requÃªte
- ğŸ”„ VÃ©rifier la compatibilitÃ© entre SGBD
- ğŸ“š S'entraÃ®ner sans rien installer
- ğŸ¤ Partager des exemples avec des collÃ¨gues

### ğŸ› ï¸ Outils recommandÃ©s

| Outil | URL | SGBD supportÃ©s | Points forts |
|-------|-----|----------------|-------------|
| **DB Fiddle** | [db-fiddle.com](https://www.db-fiddle.com/) | PostgreSQL, MySQL, SQLite | Interface claire, partage facile |
| **SQL Fiddle** | [sqlfiddle.com](http://sqlfiddle.com/) | MySQL, PostgreSQL, Oracle, SQL Server | Le classique, multi-SGBD |
| **SQLite Online** | [sqliteonline.com](https://sqliteonline.com/) | SQLite, PostgreSQL, MySQL | TrÃ¨s simple, import CSV |
| **Programiz SQL** | [programiz.com/sql/online-compiler](https://www.programiz.com/sql/online-compiler/) | SQLite | IdÃ©al dÃ©butants, tutoriels intÃ©grÃ©s |
| **OneCompiler** | [onecompiler.com/mysql](https://onecompiler.com/mysql) | MySQL, PostgreSQL, SQL Server | Rapide, moderne |
| **Replit** | [replit.com](https://replit.com/) | SQLite, PostgreSQL | Environnement complet, collaboratif |

### ğŸ’¡ Exemple avec DB Fiddle

1. Aller sur [db-fiddle.com](https://www.db-fiddle.com/)
2. Choisir le SGBD (ex: **PostgreSQL 15**)
3. Dans le panneau gauche, crÃ©er le schÃ©ma :

```sql
CREATE TABLE employes (
    id INT PRIMARY KEY,
    nom VARCHAR(50),
    salaire INT
);

INSERT INTO employes VALUES 
(1, 'Alice', 50000),
(2, 'Bob', 60000),
(3, 'Charlie', 55000);
```

4. Dans le panneau droit, Ã©crire ta requÃªte :

```sql
SELECT nom, salaire 
FROM employes 
WHERE salaire > 52000;
```

5. Cliquer sur **Run** et voir le rÃ©sultat !

### âš ï¸ DiffÃ©rences entre SGBD

Le SQL est **standardisÃ©**, mais chaque SGBD a ses particularitÃ©s :

| FonctionnalitÃ© | PostgreSQL | MySQL | SQL Server | SQLite |
|----------------|------------|-------|------------|--------|
| ConcatÃ©nation | `\|\|` ou `CONCAT()` | `CONCAT()` | `+` ou `CONCAT()` | `\|\|` |
| Limite rÃ©sultats | `LIMIT 10` | `LIMIT 10` | `TOP 10` | `LIMIT 10` |
| Auto-increment | `SERIAL` | `AUTO_INCREMENT` | `IDENTITY` | `AUTOINCREMENT` |
| Date actuelle | `CURRENT_DATE` | `CURDATE()` | `GETDATE()` | `DATE('now')` |
| BoolÃ©ens | `TRUE/FALSE` | `1/0` | `1/0` | `1/0` |

> ğŸ’¡ **DuckDB** utilise une syntaxe proche de **PostgreSQL**, ce qui est idÃ©al car PostgreSQL est le standard de facto en Data Engineering.

---

### ğŸ¯ Pourquoi on utilise Python + DuckDB dans ce cours ?

| Avantage | Explication |
|----------|-------------|
| **Tout-en-un** | SQL + Python dans le mÃªme notebook |
| **Pas d'installation serveur** | DuckDB tourne en mÃ©moire |
| **IntÃ©gration Pandas** | RÃ©sultats directement en DataFrame |
| **Fichiers directs** | Lire CSV/Parquet/JSON sans import |
| **Syntaxe standard** | Compatible PostgreSQL â†’ transfÃ©rable |
| **Performance** | OptimisÃ© pour l'analytics (OLAP) |

```python
# Exemple : SQL â†’ DataFrame en 1 ligne
df = con.execute("SELECT * FROM clients WHERE pays = 'France'").df()
```

> ğŸ“ **Les compÃ©tences SQL apprises ici sont directement applicables** Ã  PostgreSQL, BigQuery, Snowflake, Redshift, et tout autre SGBD en production.

---

## ğŸ¦† Python + DuckDB â€” SQL dans ton notebook !

### Qu'est-ce que DuckDB ?

**DuckDB** est une base de donnÃ©es analytique **embarquÃ©e** (comme SQLite, mais optimisÃ©e pour l'analytics).

```
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚                    POURQUOI DUCKDB ?                        â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                                                             â”‚
â”‚  âœ… ZÃ©ro installation serveur (fonctionne en mÃ©moire)       â”‚
â”‚  âœ… Syntaxe SQL standard (PostgreSQL-like)                  â”‚
â”‚  âœ… IntÃ©gration native avec Pandas                         â”‚
â”‚  âœ… TrÃ¨s rapide pour l'analytics (colonnar storage)        â”‚
â”‚  âœ… Lit directement CSV, Parquet, JSON                      â”‚
â”‚  âœ… Parfait pour apprendre SQL dans un notebook             â”‚
â”‚                                                             â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

### ğŸ“Š DuckDB vs autres bases

| CritÃ¨re | SQLite | DuckDB | PostgreSQL |
|---------|--------|--------|------------|
| **Installation** | EmbarquÃ© | EmbarquÃ© | Serveur |
| **OptimisÃ© pour** | OLTP (transactions) | OLAP (analytics) | Les deux |
| **IntÃ©gration Pandas** | âš ï¸ Via SQLAlchemy | âœ… Native | âš ï¸ Via psycopg2 |
| **Fichiers CSV/Parquet** | âŒ Non | âœ… Direct | âŒ Non |
| **Usage** | Mobile, embarquÃ© | Data Science, ETL | Production |

In [ ]:
# ğŸ“¦ Installation de DuckDB
!pip install duckdb --quiet

print("âœ… DuckDB installÃ© !")

In [ ]:
import duckdb

# CrÃ©er une connexion en mÃ©moire
con = duckdb.connect(database=':memory:')

print("âœ… Connexion DuckDB crÃ©Ã©e !")
print(f"Version : {duckdb.__version__}")

In [ ]:
# ğŸ“Š CrÃ©ation des tables de dÃ©monstration

# Table clients
con.execute("""
CREATE TABLE clients (
    id_client INTEGER PRIMARY KEY,
    nom VARCHAR(50),
    email VARCHAR(100),
    pays VARCHAR(50),
    date_inscription DATE
);
""")

con.execute("""
INSERT INTO clients VALUES
    (1, 'Alice', 'alice@mail.com', 'France', '2023-01-15'),
    (2, 'Bob', 'bob@mail.com', 'France', '2023-02-20'),
    (3, 'Charlie', 'charlie@mail.com', 'Allemagne', '2023-03-10'),
    (4, 'Diana', 'diana@mail.com', 'Belgique', '2023-04-05'),
    (5, 'Eve', 'eve@mail.com', 'France', '2023-05-12');
""")

# Table commandes
con.execute("""
CREATE TABLE commandes (
    id_commande INTEGER PRIMARY KEY,
    id_client INTEGER,
    produit VARCHAR(50),
    montant DECIMAL(10,2),
    date_commande DATE,
    FOREIGN KEY (id_client) REFERENCES clients(id_client)
);
""")

con.execute("""
INSERT INTO commandes VALUES
    (1, 1, 'Clavier', 50.00, '2023-07-12'),
    (2, 1, 'Souris', 25.00, '2023-07-15'),
    (3, 2, 'Ã‰cran', 120.00, '2023-08-01'),
    (4, 1, 'Webcam', 45.00, '2023-08-20'),
    (5, 4, 'Casque', 80.00, '2023-09-05'),
    (6, 2, 'Clavier', 55.00, '2023-09-15'),
    (7, 5, 'Souris', 30.00, '2023-10-01'),
    (8, 4, 'Ã‰cran', 150.00, '2023-10-20');
""")

print("âœ… Tables crÃ©Ã©es : clients (5 lignes), commandes (8 lignes)")

In [ ]:
# ğŸ‘€ VÃ©rifier les donnÃ©es
print("ğŸ“‹ Table clients :")
print(con.execute("SELECT * FROM clients").fetchdf())

print("\nğŸ“‹ Table commandes :")
print(con.execute("SELECT * FROM commandes").fetchdf())

---

## ğŸ“‹ Cheatsheet SQL â€” Commandes essentielles

| CatÃ©gorie | Commande | Description | Exemple |
|-----------|----------|-------------|--------|
| **Lecture** | `SELECT` | SÃ©lectionner des colonnes | `SELECT nom, email FROM clients` |
| | `SELECT *` | Toutes les colonnes | `SELECT * FROM clients` |
| | `DISTINCT` | Valeurs uniques | `SELECT DISTINCT pays FROM clients` |
| **Filtrage** | `WHERE` | Filtrer les lignes | `WHERE pays = 'France'` |
| | `AND` / `OR` | Conditions multiples | `WHERE age > 18 AND pays = 'France'` |
| | `IN` | Liste de valeurs | `WHERE pays IN ('France', 'Belgique')` |
| | `BETWEEN` | Plage de valeurs | `WHERE montant BETWEEN 50 AND 100` |
| | `LIKE` | Recherche pattern | `WHERE nom LIKE 'A%'` |
| | `IS NULL` | Valeurs nulles | `WHERE email IS NULL` |
| **Tri** | `ORDER BY` | Trier les rÃ©sultats | `ORDER BY nom ASC` |
| | `LIMIT` | Limiter le nombre | `LIMIT 10` |
| **AgrÃ©gation** | `COUNT()` | Compter | `SELECT COUNT(*) FROM clients` |
| | `SUM()` | Somme | `SELECT SUM(montant) FROM commandes` |
| | `AVG()` | Moyenne | `SELECT AVG(montant) FROM commandes` |
| | `MIN()` / `MAX()` | Min / Max | `SELECT MAX(montant) FROM commandes` |
| **Groupement** | `GROUP BY` | Regrouper | `GROUP BY pays` |
| | `HAVING` | Filtrer aprÃ¨s agrÃ©gation | `HAVING COUNT(*) > 5` |
| **Jointures** | `JOIN` | Jointure interne | `JOIN commandes ON ...` |
| | `LEFT JOIN` | Jointure gauche | `LEFT JOIN commandes ON ...` |

---

## ğŸ” 1. SELECT â€” SÃ©lectionner des donnÃ©es

### Syntaxe de base

```sql
SELECT colonne1, colonne2
FROM table
WHERE condition
ORDER BY colonne;
```

In [ ]:
# ğŸ” SELECT * â€” Toutes les colonnes
query = "SELECT * FROM clients"
con.execute(query).fetchdf()

In [ ]:
# ğŸ” SELECT colonnes spÃ©cifiques
query = "SELECT nom, email, pays FROM clients"
con.execute(query).fetchdf()

In [ ]:
# ğŸ” WHERE â€” Filtrer les lignes
query = """
SELECT nom, email, pays
FROM clients
WHERE pays = 'France'
"""
con.execute(query).fetchdf()

In [ ]:
# ğŸ” ORDER BY + LIMIT
query = """
SELECT nom, montant, date_commande
FROM commandes
JOIN clients ON clients.id_client = commandes.id_client
ORDER BY montant DESC
LIMIT 3
"""
print("ğŸ† Top 3 des commandes les plus chÃ¨res :")
con.execute(query).fetchdf()

---

## ğŸ“Š 2. AgrÃ©gations â€” COUNT, SUM, AVG, MIN, MAX

In [ ]:
# ğŸ“Š COUNT â€” Compter les lignes
query = "SELECT COUNT(*) AS nb_clients FROM clients"
con.execute(query).fetchdf()

In [ ]:
# ğŸ“Š SUM, AVG, MIN, MAX
query = """
SELECT 
    COUNT(*) AS nb_commandes,
    SUM(montant) AS total,
    AVG(montant) AS moyenne,
    MIN(montant) AS min,
    MAX(montant) AS max
FROM commandes
"""
con.execute(query).fetchdf()

---

## ğŸ“¦ 3. GROUP BY â€” Regrouper les donnÃ©es

In [ ]:
# ğŸ“¦ GROUP BY â€” Nombre de clients par pays
query = """
SELECT pays, COUNT(*) AS nb_clients
FROM clients
GROUP BY pays
ORDER BY nb_clients DESC
"""
con.execute(query).fetchdf()

In [ ]:
# ğŸ“¦ Total des achats par client
query = """
SELECT c.nom, SUM(cmd.montant) AS total_achats
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
ORDER BY total_achats DESC
"""
con.execute(query).fetchdf()

In [ ]:
# ğŸ“¦ HAVING â€” Filtrer aprÃ¨s agrÃ©gation
# Clients ayant dÃ©pensÃ© plus de 100â‚¬
query = """
SELECT c.nom, SUM(cmd.montant) AS total_achats
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
HAVING SUM(cmd.montant) > 100
ORDER BY total_achats DESC
"""
print("ğŸ† Clients ayant dÃ©pensÃ© plus de 100â‚¬ :")
con.execute(query).fetchdf()

---

## ğŸ”— 4. JOIN â€” Combiner les tables

```
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ INNER JOIN (JOIN)         â”‚ Seulement les correspondances      â”‚
â”‚ A âˆ© B                      â”‚                                    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ LEFT JOIN                 â”‚ Tout A + correspondances B         â”‚
â”‚ A + (A âˆ© B)               â”‚ (NULL si pas de correspondance)    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ RIGHT JOIN                â”‚ Tout B + correspondances A         â”‚
â”‚ B + (A âˆ© B)               â”‚                                    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ FULL OUTER JOIN           â”‚ Tout A + Tout B                    â”‚
â”‚ A âˆª B                      â”‚                                    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

In [ ]:
# ğŸ”— INNER JOIN â€” Clients avec leurs commandes
query = """
SELECT c.nom, cmd.produit, cmd.montant
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
ORDER BY c.nom
"""
con.execute(query).fetchdf()

In [ ]:
# ğŸ”— LEFT JOIN â€” Tous les clients, mÃªme sans commande
query = """
SELECT c.nom, cmd.produit, cmd.montant
FROM clients c
LEFT JOIN commandes cmd ON c.id_client = cmd.id_client
ORDER BY c.nom
"""
print("ğŸ‘€ Remarque : Charlie n'a pas de commande (NULL)")
con.execute(query).fetchdf()

In [ ]:
# ğŸ” Trouver les clients sans commande
query = """
SELECT c.nom, c.email
FROM clients c
LEFT JOIN commandes cmd ON c.id_client = cmd.id_client
WHERE cmd.id_commande IS NULL
"""
print("ğŸ˜´ Clients sans aucune commande :")
con.execute(query).fetchdf()

---

## ğŸ“… 5. Fonctions de date

| Fonction | Description | Exemple |
|----------|-------------|--------|
| `CURRENT_DATE` | Date du jour | `2024-01-15` |
| `EXTRACT()` | Extraire une partie | `EXTRACT(YEAR FROM date)` â†’ `2024` |
| `DATE_TRUNC()` | Tronquer Ã  une pÃ©riode | `DATE_TRUNC('month', date)` â†’ `2024-01-01` |
| `DATE_DIFF()` | DiffÃ©rence entre dates | `DATE_DIFF('day', date1, date2)` |

In [ ]:
# ğŸ“… Ventes par mois
query = """
SELECT 
    DATE_TRUNC('month', date_commande) AS mois,
    SUM(montant) AS total_ventes,
    COUNT(*) AS nb_commandes
FROM commandes
GROUP BY DATE_TRUNC('month', date_commande)
ORDER BY mois
"""
print("ğŸ“Š Ventes mensuelles :")
con.execute(query).fetchdf()

In [ ]:
# ğŸ“… Commandes par jour de la semaine
query = """
SELECT 
    EXTRACT(DOW FROM date_commande) AS jour_num,
    CASE EXTRACT(DOW FROM date_commande)
        WHEN 0 THEN 'Dimanche'
        WHEN 1 THEN 'Lundi'
        WHEN 2 THEN 'Mardi'
        WHEN 3 THEN 'Mercredi'
        WHEN 4 THEN 'Jeudi'
        WHEN 5 THEN 'Vendredi'
        WHEN 6 THEN 'Samedi'
    END AS jour,
    COUNT(*) AS nb_commandes
FROM commandes
GROUP BY EXTRACT(DOW FROM date_commande)
ORDER BY jour_num
"""
con.execute(query).fetchdf()

---

## ğŸ”€ 6. CASE â€” Conditions dans les requÃªtes

In [ ]:
# ğŸ”€ CASE â€” CatÃ©goriser les clients
query = """
SELECT 
    c.nom,
    SUM(cmd.montant) AS total_achats,
    CASE
        WHEN SUM(cmd.montant) >= 150 THEN 'ğŸ¥‡ Premium'
        WHEN SUM(cmd.montant) >= 100 THEN 'ğŸ¥ˆ Standard'
        ELSE 'ğŸ¥‰ Basique'
    END AS categorie
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
ORDER BY total_achats DESC
"""
con.execute(query).fetchdf()

---

## ğŸ“¦ 7. CTE (Common Table Expression) â€” RequÃªtes lisibles

Les **CTEs** permettent de crÃ©er des "tables temporaires" pour clarifier les requÃªtes complexes.

```sql
WITH nom_cte AS (
    SELECT ...
)
SELECT * FROM nom_cte;
```

In [ ]:
# ğŸ“¦ CTE â€” Calcul intermÃ©diaire rÃ©utilisable
query = """
WITH total_par_client AS (
    SELECT 
        c.id_client,
        c.nom,
        c.pays,
        SUM(cmd.montant) AS total
    FROM clients c
    JOIN commandes cmd ON c.id_client = cmd.id_client
    GROUP BY c.id_client, c.nom, c.pays
)
SELECT 
    nom,
    pays,
    total,
    CASE WHEN total > 100 THEN 'âœ… VIP' ELSE 'âŒ' END AS vip
FROM total_par_client
ORDER BY total DESC
"""
con.execute(query).fetchdf()

---

## ğŸªŸ 8. Window Functions â€” Calculs avancÃ©s

Les **Window Functions** permettent de faire des calculs sur un groupe de lignes **sans les regrouper**.

| Fonction | Description |
|----------|-------------|
| `ROW_NUMBER()` | NumÃ©ro de ligne |
| `RANK()` | Classement (avec ex-aequo) |
| `DENSE_RANK()` | Classement sans saut |
| `LAG()` | Valeur de la ligne prÃ©cÃ©dente |
| `LEAD()` | Valeur de la ligne suivante |
| `SUM() OVER()` | Somme cumulative |

In [ ]:
# ğŸ† RANK â€” Classement des clients par total d'achats
query = """
SELECT 
    c.nom,
    SUM(cmd.montant) AS total_achats,
    RANK() OVER (ORDER BY SUM(cmd.montant) DESC) AS rang
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
"""
con.execute(query).fetchdf()

In [ ]:
# ğŸ“ˆ SUM OVER â€” Total cumulatif
query = """
SELECT 
    date_commande,
    montant,
    SUM(montant) OVER (ORDER BY date_commande) AS cumul
FROM commandes
ORDER BY date_commande
"""
print("ğŸ“ˆ Ã‰volution cumulative des ventes :")
con.execute(query).fetchdf()

In [ ]:
# ğŸ“Š LAG â€” Comparer avec la pÃ©riode prÃ©cÃ©dente
query = """
WITH mensuel AS (
    SELECT 
        DATE_TRUNC('month', date_commande) AS mois,
        SUM(montant) AS total
    FROM commandes
    GROUP BY DATE_TRUNC('month', date_commande)
)
SELECT 
    mois,
    total,
    LAG(total) OVER (ORDER BY mois) AS total_precedent,
    total - LAG(total) OVER (ORDER BY mois) AS evolution
FROM mensuel
ORDER BY mois
"""
print("ğŸ“Š Ã‰volution mensuelle :")
con.execute(query).fetchdf()

---

## ğŸ¼ 9. IntÃ©gration avec Pandas

DuckDB s'intÃ¨gre parfaitement avec Pandas !

In [ ]:
import pandas as pd

# ğŸ¼ RÃ©cupÃ©rer le rÃ©sultat en DataFrame Pandas
query = """
SELECT c.nom, c.pays, SUM(cmd.montant) AS total
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom, c.pays
ORDER BY total DESC
"""

df = con.execute(query).fetchdf()
print(type(df))  # C'est un DataFrame Pandas !
df

In [ ]:
# ğŸ¦† RequÃªter directement un DataFrame Pandas avec SQL !
df_exemple = pd.DataFrame({
    'produit': ['A', 'B', 'C', 'A', 'B'],
    'ventes': [100, 200, 150, 120, 180]
})

# DuckDB peut requÃªter le DataFrame directement
result = duckdb.query("""
    SELECT produit, SUM(ventes) AS total
    FROM df_exemple
    GROUP BY produit
    ORDER BY total DESC
""").fetchdf()

print("ğŸ”¥ SQL directement sur un DataFrame Pandas :")
result

In [ ]:
# ğŸ“ DuckDB peut aussi lire directement des fichiers CSV/Parquet
# Exemple (si tu as un fichier) :
# duckdb.query("SELECT * FROM 'mon_fichier.csv' LIMIT 10")
# duckdb.query("SELECT * FROM 'data.parquet' WHERE date > '2024-01-01'")

print("ğŸ’¡ DuckDB peut lire directement :")
print("   - CSV  : SELECT * FROM 'fichier.csv'")
print("   - Parquet : SELECT * FROM 'fichier.parquet'")
print("   - JSON : SELECT * FROM 'fichier.json'")

---

## ğŸ¯ 10. Exercices pratiques

Essaie de rÃ©soudre ces exercices dans les cellules de code ci-dessous !

---

### ğŸ‹ï¸ Exercice 1 â€” Facile
Afficher tous les clients de France, triÃ©s par nom.

<details><summary>ğŸ’¡ Solution</summary>

```sql
SELECT * FROM clients WHERE pays = 'France' ORDER BY nom;
```
</details>

---

### ğŸ‹ï¸ Exercice 2 â€” Facile
Calculer le montant moyen des commandes.

<details><summary>ğŸ’¡ Solution</summary>

```sql
SELECT AVG(montant) AS montant_moyen FROM commandes;
```
</details>

---

### ğŸ‹ï¸ Exercice 3 â€” IntermÃ©diaire
Afficher le total des achats par client, y compris ceux sans commande (afficher 0).

<details><summary>ğŸ’¡ Solution</summary>

```sql
SELECT c.nom, COALESCE(SUM(cmd.montant), 0) AS total
FROM clients c
LEFT JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
ORDER BY total DESC;
```
</details>

---

### ğŸ‹ï¸ Exercice 4 â€” IntermÃ©diaire
Calculer les ventes par mois avec `DATE_TRUNC`.

<details><summary>ğŸ’¡ Solution</summary>

```sql
SELECT DATE_TRUNC('month', date_commande) AS mois, SUM(montant) AS total
FROM commandes
GROUP BY DATE_TRUNC('month', date_commande)
ORDER BY mois;
```
</details>

---

### ğŸ‹ï¸ Exercice 5 â€” AvancÃ©
Pour chaque client, afficher sa derniÃ¨re commande (produit et date). *Indice : ROW_NUMBER()*

<details><summary>ğŸ’¡ Solution</summary>

```sql
WITH derniere AS (
    SELECT c.nom, cmd.produit, cmd.date_commande,
        ROW_NUMBER() OVER (PARTITION BY c.id_client ORDER BY cmd.date_commande DESC) AS rn
    FROM clients c
    JOIN commandes cmd ON c.id_client = cmd.id_client
)
SELECT nom, produit, date_commande FROM derniere WHERE rn = 1;
```
</details>

In [ ]:
# âœï¸ Espace pour tes exercices
query = """
-- Ã‰cris ta requÃªte ici
SELECT * FROM clients LIMIT 5
"""
con.execute(query).fetchdf()

---

## ğŸ§  Quiz

---

### â“ Q1. Quelle commande affiche toutes les colonnes d'une table `clients` ?
a) `SHOW * FROM clients;`  
b) `SELECT * FROM clients;`  
c) `LIST * FROM clients;`  
d) `DISPLAY * FROM clients;`

<details><summary>ğŸ’¡ RÃ©ponse</summary>

âœ… **b** â€” `SELECT * FROM clients;` affiche toutes les colonnes.
</details>

---

### â“ Q2. Quelle est la diffÃ©rence entre `WHERE` et `HAVING` ?
a) Aucune diffÃ©rence  
b) `WHERE` s'utilise avant `GROUP BY`, `HAVING` aprÃ¨s  
c) `HAVING` est plus rapide  
d) `WHERE` ne peut filtrer que les nombres

<details><summary>ğŸ’¡ RÃ©ponse</summary>

âœ… **b** â€” `WHERE` filtre avant agrÃ©gation, `HAVING` filtre aprÃ¨s.
</details>

---

### â“ Q3. Quel JOIN retourne UNIQUEMENT les lignes qui ont une correspondance ?
a) `LEFT JOIN`  
b) `RIGHT JOIN`  
c) `INNER JOIN`  
d) `FULL OUTER JOIN`

<details><summary>ğŸ’¡ RÃ©ponse</summary>

âœ… **c** â€” `INNER JOIN` ne garde que les correspondances.
</details>

---

### â“ Q4. Ã€ quoi sert une CTE (`WITH`) ?
a) CrÃ©er une table permanente  
b) DÃ©finir une sous-requÃªte rÃ©utilisable  
c) Supprimer des donnÃ©es  
d) CrÃ©er un index

<details><summary>ğŸ’¡ RÃ©ponse</summary>

âœ… **b** â€” Les CTEs crÃ©ent des "tables temporaires" pour clarifier les requÃªtes.
</details>

---

### â“ Q5. Quelle Window Function permet de classer les lignes ?
a) `COUNT()`  
b) `RANK()`  
c) `SUM()`  
d) `GROUP BY`

<details><summary>ğŸ’¡ RÃ©ponse</summary>

âœ… **b** â€” `RANK() OVER (ORDER BY ...)` attribue un classement.
</details>

---

### â“ Q6. Quel avantage de DuckDB pour un Data Engineer ?
a) Il nÃ©cessite un serveur  
b) Il peut requÃªter directement des DataFrames Pandas  
c) Il ne supporte pas SQL standard  
d) Il ne lit pas les fichiers CSV

<details><summary>ğŸ’¡ RÃ©ponse</summary>

âœ… **b** â€” DuckDB peut requÃªter directement des DataFrames Pandas avec SQL.
</details>

---

## ğŸ“š Ressources

### ğŸ® Pratiquer SQL en ligne
- [SQLBolt](https://sqlbolt.com/) â€” Tutoriel interactif
- [Mode SQL Tutorial](https://mode.com/sql-tutorial/) â€” Cas business rÃ©els
- [LeetCode SQL](https://leetcode.com/problemset/database/) â€” DÃ©fis progressifs
- [HackerRank SQL](https://www.hackerrank.com/domains/sql) â€” Exercices variÃ©s

### ğŸ¦† DuckDB
- [DuckDB Documentation](https://duckdb.org/docs/)
- [DuckDB SQL Reference](https://duckdb.org/docs/sql/introduction)

### ğŸ“– Documentation SQL
- [PostgreSQL Documentation](https://www.postgresql.org/docs/current/sql.html)
- [W3Schools SQL](https://www.w3schools.com/sql/)

---

## â¡ï¸ Prochaine Ã©tape

Tu maÃ®trises maintenant SQL et sais l'exÃ©cuter depuis Python ! DÃ©couvrons les concepts du **Big Data** et les bases **NoSQL**.

ğŸ‘‰ **Module suivant : `08_intro_big_data_nosql.ipynb`** â€” Big Data, traitement distribuÃ© et NoSQL

---

ğŸ‰ **FÃ©licitations !** Tu as terminÃ© le module SQL pour Data Engineers.