# SQL for Data Engineers

Ce module couvre les **fondamentaux et concepts avanc√©s de SQL**, avec une pratique directe via **Python + DuckDB**.

---

## Approche de ce cours

```
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ                       FOCUS DU COURS                            ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ                                                                 ‚îÇ
‚îÇ   Ce cours utilise Python + DuckDB pour apprendre SQL           ‚îÇ
‚îÇ                                                                 ‚îÇ
‚îÇ   ‚úÖ SQL standard (compatible PostgreSQL, MySQL, etc.)          ‚îÇ
‚îÇ   ‚úÖ Ex√©cution directe dans Jupyter (pas de serveur)            ‚îÇ
‚îÇ   ‚úÖ Int√©gration native avec Pandas                             ‚îÇ
‚îÇ   ‚úÖ Comp√©tences transf√©rables √† tout SGBD                      ‚îÇ
‚îÇ                                                                 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```

> üí° **Le SQL appris ici fonctionne sur PostgreSQL, MySQL, SQLite, BigQuery, Snowflake, etc.** avec des variations mineures de syntaxe.

---

## Pr√©requis

| Niveau | Comp√©tence |
|--------|------------|
| ‚úÖ Requis | Avoir suivi le module `06_intro_relational_databases` |
| ‚úÖ Requis | Comprendre les concepts de tables, colonnes, cl√©s |
| ‚úÖ Requis | Bases de Python (module 04 et 05) |

## Objectifs du module

√Ä la fin de ce notebook, tu seras capable de :

- √âcrire des requ√™tes `SELECT`, `WHERE`, `ORDER BY`
- Utiliser les fonctions d'agr√©gation (`COUNT`, `SUM`, `AVG`)
- Ma√Ætriser `GROUP BY` et `HAVING`
- Faire des jointures (`JOIN`, `LEFT JOIN`)
- Utiliser les fonctions de date (`DATE_TRUNC`, `EXTRACT`)
- Utiliser `CASE`, les CTEs et les Window Functions
- **Ex√©cuter du SQL depuis Python avec DuckDB**

---

> üí° **Ce notebook est interactif** : tu peux ex√©cuter les cellules de code directement !

---

## C'est quoi SQL ?

**SQL** (Structured Query Language) est un **langage de requ√™tes** pour interagir avec des bases de donn√©es relationnelles.

| Action | Commande SQL |
|--------|-------------|
| üîç **Rechercher** | `SELECT` |
| ‚úèÔ∏è **Ins√©rer** | `INSERT` |
| üîÑ **Modifier** | `UPDATE` |
| üóëÔ∏è **Supprimer** | `DELETE` |
| üìä **Agr√©ger** | `COUNT`, `SUM`, `AVG` |
| üîó **Joindre** | `JOIN` |

---

## Pourquoi c'est essentiel pour un Data Engineer ?

- Interroger les **data warehouses** (BigQuery, Snowflake, Redshift‚Ä¶)
- Extraire / filtrer les donn√©es pour les pipelines
- V√©rifier la **qualit√© des donn√©es**
- Cr√©er des **vues** et **agr√©gats** pour les dashboards

---

## Outils en ligne pour tester du SQL

Avant de plonger dans Python + DuckDB, sache qu'il existe de nombreux **outils en ligne gratuits** pour tester des requ√™tes SQL sur diff√©rents SGBD. C'est utile pour :

- Tester rapidement une requ√™te
- V√©rifier la compatibilit√© entre SGBD
- S'entra√Æner sans rien installer
- Partager des exemples avec des coll√®gues

### Outils recommand√©s

| Outil | URL | SGBD support√©s | Points forts |
|-------|-----|----------------|-------------|
| **DB Fiddle** | [db-fiddle.com](https://www.db-fiddle.com/) | PostgreSQL, MySQL, SQLite | Interface claire, partage facile |
| **SQL Fiddle** | [sqlfiddle.com](http://sqlfiddle.com/) | MySQL, PostgreSQL, Oracle, SQL Server | Le classique, multi-SGBD |
| **SQLite Online** | [sqliteonline.com](https://sqliteonline.com/) | SQLite, PostgreSQL, MySQL | Tr√®s simple, import CSV |
| **Programiz SQL** | [programiz.com/sql/online-compiler](https://www.programiz.com/sql/online-compiler/) | SQLite | Id√©al d√©butants, tutoriels int√©gr√©s |
| **OneCompiler** | [onecompiler.com/mysql](https://onecompiler.com/mysql) | MySQL, PostgreSQL, SQL Server | Rapide, moderne |
| **Replit** | [replit.com](https://replit.com/) | SQLite, PostgreSQL | Environnement complet, collaboratif |

### üí° Exemple avec DB Fiddle

1. Aller sur [db-fiddle.com](https://www.db-fiddle.com/)
2. Choisir le SGBD (ex: **PostgreSQL 15**)
3. Dans le panneau gauche, cr√©er le sch√©ma :

```sql
CREATE TABLE employes (
    id INT PRIMARY KEY,
    nom VARCHAR(50),
    salaire INT
);

INSERT INTO employes VALUES 
(1, 'Alice', 50000),
(2, 'Bob', 60000),
(3, 'Charlie', 55000);
```

4. Dans le panneau droit, √©crire ta requ√™te :

```sql
SELECT nom, salaire 
FROM employes 
WHERE salaire > 52000;
```

5. Cliquer sur **Run** et voir le r√©sultat !

### ‚ö†Ô∏è Diff√©rences entre SGBD

Le SQL est **standardis√©**, mais chaque SGBD a ses particularit√©s :

| Fonctionnalit√© | PostgreSQL | MySQL | SQL Server | SQLite |
|----------------|------------|-------|------------|--------|
| Concat√©nation | `\|\|` ou `CONCAT()` | `CONCAT()` | `+` ou `CONCAT()` | `\|\|` |
| Limite r√©sultats | `LIMIT 10` | `LIMIT 10` | `TOP 10` | `LIMIT 10` |
| Auto-increment | `SERIAL` | `AUTO_INCREMENT` | `IDENTITY` | `AUTOINCREMENT` |
| Date actuelle | `CURRENT_DATE` | `CURDATE()` | `GETDATE()` | `DATE('now')` |
| Bool√©ens | `TRUE/FALSE` | `1/0` | `1/0` | `1/0` |

> üí° **DuckDB** utilise une syntaxe proche de **PostgreSQL**, ce qui est id√©al car PostgreSQL est le standard de facto en Data Engineering.

---

### üéØ Pourquoi on utilise Python + DuckDB dans ce cours ?

| Avantage | Explication |
|----------|-------------|
| **Tout-en-un** | SQL + Python dans le m√™me notebook |
| **Pas d'installation serveur** | DuckDB tourne en m√©moire |
| **Int√©gration Pandas** | R√©sultats directement en DataFrame |
| **Fichiers directs** | Lire CSV/Parquet/JSON sans import |
| **Syntaxe standard** | Compatible PostgreSQL ‚Üí transf√©rable |
| **Performance** | Optimis√© pour l'analytics (OLAP) |

```python
# Exemple : SQL ‚Üí DataFrame en 1 ligne
df = con.execute("SELECT * FROM clients WHERE pays = 'France'").df()
```

> **Les comp√©tences SQL apprises ici sont directement applicables** √† PostgreSQL, BigQuery, Snowflake, Redshift, et tout autre SGBD en production.

---

## Python + DuckDB ‚Äî SQL dans ton notebook !

### Qu'est-ce que DuckDB ?

**DuckDB** est une base de donn√©es analytique **embarqu√©e** (comme SQLite, mais optimis√©e pour l'analytics).

```
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ                    POURQUOI DUCKDB ?                        ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ                                                             ‚îÇ
‚îÇ  ‚úÖ Z√©ro installation serveur (fonctionne en m√©moire)       ‚îÇ
‚îÇ  ‚úÖ Syntaxe SQL standard (PostgreSQL-like)                  ‚îÇ
‚îÇ  ‚úÖ Int√©gration native avec Pandas                         ‚îÇ
‚îÇ  ‚úÖ Tr√®s rapide pour l'analytics (colonnar storage)        ‚îÇ
‚îÇ  ‚úÖ Lit directement CSV, Parquet, JSON                      ‚îÇ
‚îÇ  ‚úÖ Parfait pour apprendre SQL dans un notebook             ‚îÇ
‚îÇ                                                             ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```

### DuckDB vs autres bases

| Crit√®re | SQLite | DuckDB | PostgreSQL |
|---------|--------|--------|------------|
| **Installation** | Embarqu√© | Embarqu√© | Serveur |
| **Optimis√© pour** | OLTP (transactions) | OLAP (analytics) | Les deux |
| **Int√©gration Pandas** | ‚ö†Ô∏è Via SQLAlchemy | ‚úÖ Native | ‚ö†Ô∏è Via psycopg2 |
| **Fichiers CSV/Parquet** | ‚ùå Non | ‚úÖ Direct | ‚ùå Non |
| **Usage** | Mobile, embarqu√© | Data Science, ETL | Production |

In [ ]:
# Installation de DuckDB
!pip install duckdb --quiet

print("‚úÖ DuckDB install√© !")

In [ ]:
import duckdb

# Cr√©er une connexion en m√©moire
con = duckdb.connect(database=':memory:')

print("‚úÖ Connexion DuckDB cr√©√©e !")
print(f"Version : {duckdb.__version__}")

In [ ]:
# Cr√©ation des tables de d√©monstration

# Table clients
con.execute("""
CREATE TABLE clients (
    id_client INTEGER PRIMARY KEY,
    nom VARCHAR(50),
    email VARCHAR(100),
    pays VARCHAR(50),
    date_inscription DATE
);
""")

con.execute("""
INSERT INTO clients VALUES
    (1, 'Alice', 'alice@mail.com', 'France', '2023-01-15'),
    (2, 'Bob', 'bob@mail.com', 'France', '2023-02-20'),
    (3, 'Charlie', 'charlie@mail.com', 'Allemagne', '2023-03-10'),
    (4, 'Diana', 'diana@mail.com', 'Belgique', '2023-04-05'),
    (5, 'Eve', 'eve@mail.com', 'France', '2023-05-12');
""")

# Table commandes
con.execute("""
CREATE TABLE commandes (
    id_commande INTEGER PRIMARY KEY,
    id_client INTEGER,
    produit VARCHAR(50),
    montant DECIMAL(10,2),
    date_commande DATE,
    FOREIGN KEY (id_client) REFERENCES clients(id_client)
);
""")

con.execute("""
INSERT INTO commandes VALUES
    (1, 1, 'Clavier', 50.00, '2023-07-12'),
    (2, 1, 'Souris', 25.00, '2023-07-15'),
    (3, 2, '√âcran', 120.00, '2023-08-01'),
    (4, 1, 'Webcam', 45.00, '2023-08-20'),
    (5, 4, 'Casque', 80.00, '2023-09-05'),
    (6, 2, 'Clavier', 55.00, '2023-09-15'),
    (7, 5, 'Souris', 30.00, '2023-10-01'),
    (8, 4, '√âcran', 150.00, '2023-10-20');
""")

print("‚úÖ Tables cr√©√©es : clients (5 lignes), commandes (8 lignes)")

In [ ]:
# V√©rifier les donn√©es
print(" Table clients :")
print(con.execute("SELECT * FROM clients").fetchdf())

print("\n Table commandes :")
print(con.execute("SELECT * FROM commandes").fetchdf())

---

## Cheatsheet SQL ‚Äî Commandes essentielles

| Cat√©gorie | Commande | Description | Exemple |
|-----------|----------|-------------|--------|
| **Lecture** | `SELECT` | S√©lectionner des colonnes | `SELECT nom, email FROM clients` |
| | `SELECT *` | Toutes les colonnes | `SELECT * FROM clients` |
| | `DISTINCT` | Valeurs uniques | `SELECT DISTINCT pays FROM clients` |
| **Filtrage** | `WHERE` | Filtrer les lignes | `WHERE pays = 'France'` |
| | `AND` / `OR` | Conditions multiples | `WHERE age > 18 AND pays = 'France'` |
| | `IN` | Liste de valeurs | `WHERE pays IN ('France', 'Belgique')` |
| | `BETWEEN` | Plage de valeurs | `WHERE montant BETWEEN 50 AND 100` |
| | `LIKE` | Recherche pattern | `WHERE nom LIKE 'A%'` |
| | `IS NULL` | Valeurs nulles | `WHERE email IS NULL` |
| **Tri** | `ORDER BY` | Trier les r√©sultats | `ORDER BY nom ASC` |
| | `LIMIT` | Limiter le nombre | `LIMIT 10` |
| **Agr√©gation** | `COUNT()` | Compter | `SELECT COUNT(*) FROM clients` |
| | `SUM()` | Somme | `SELECT SUM(montant) FROM commandes` |
| | `AVG()` | Moyenne | `SELECT AVG(montant) FROM commandes` |
| | `MIN()` / `MAX()` | Min / Max | `SELECT MAX(montant) FROM commandes` |
| **Groupement** | `GROUP BY` | Regrouper | `GROUP BY pays` |
| | `HAVING` | Filtrer apr√®s agr√©gation | `HAVING COUNT(*) > 5` |
| **Jointures** | `JOIN` | Jointure interne | `JOIN commandes ON ...` |
| | `LEFT JOIN` | Jointure gauche | `LEFT JOIN commandes ON ...` |

---

## 1. SELECT ‚Äî S√©lectionner des donn√©es

### Syntaxe de base

```sql
SELECT colonne1, colonne2
FROM table
WHERE condition
ORDER BY colonne;
```

In [ ]:
# SELECT * ‚Äî Toutes les colonnes
query = "SELECT * FROM clients"
con.execute(query).fetchdf()

In [ ]:
# SELECT colonnes sp√©cifiques
query = "SELECT nom, email, pays FROM clients"
con.execute(query).fetchdf()

In [ ]:
# WHERE ‚Äî Filtrer les lignes
query = """
SELECT nom, email, pays
FROM clients
WHERE pays = 'France'
"""
con.execute(query).fetchdf()

In [ ]:
# ORDER BY + LIMIT
query = """
SELECT nom, montant, date_commande
FROM commandes
JOIN clients ON clients.id_client = commandes.id_client
ORDER BY montant DESC
LIMIT 3
"""
print(" Top 3 des commandes les plus ch√®res :")
con.execute(query).fetchdf()

---

## 2. Agr√©gations ‚Äî COUNT, SUM, AVG, MIN, MAX

In [ ]:
# COUNT ‚Äî Compter les lignes
query = "SELECT COUNT(*) AS nb_clients FROM clients"
con.execute(query).fetchdf()

In [ ]:
# SUM, AVG, MIN, MAX
query = """
SELECT 
    COUNT(*) AS nb_commandes,
    SUM(montant) AS total,
    AVG(montant) AS moyenne,
    MIN(montant) AS min,
    MAX(montant) AS max
FROM commandes
"""
con.execute(query).fetchdf()

---

## 3. GROUP BY ‚Äî Regrouper les donn√©es

In [ ]:
# GROUP BY ‚Äî Nombre de clients par pays
query = """
SELECT pays, COUNT(*) AS nb_clients
FROM clients
GROUP BY pays
ORDER BY nb_clients DESC
"""
con.execute(query).fetchdf()

In [ ]:
# Total des achats par client
query = """
SELECT c.nom, SUM(cmd.montant) AS total_achats
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
ORDER BY total_achats DESC
"""
con.execute(query).fetchdf()

In [ ]:
# HAVING ‚Äî Filtrer apr√®s agr√©gation
# Clients ayant d√©pens√© plus de 100‚Ç¨
query = """
SELECT c.nom, SUM(cmd.montant) AS total_achats
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
HAVING SUM(cmd.montant) > 100
ORDER BY total_achats DESC
"""
print("üèÜ Clients ayant d√©pens√© plus de 100‚Ç¨ :")
con.execute(query).fetchdf()

---

## 4. JOIN ‚Äî Combiner les tables

```
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ INNER JOIN (JOIN)         ‚îÇ Seulement les correspondances      ‚îÇ
‚îÇ A ‚à© B                      ‚îÇ                                    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ LEFT JOIN                 ‚îÇ Tout A + correspondances B         ‚îÇ
‚îÇ A + (A ‚à© B)               ‚îÇ (NULL si pas de correspondance)    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ RIGHT JOIN                ‚îÇ Tout B + correspondances A         ‚îÇ
‚îÇ B + (A ‚à© B)               ‚îÇ                                    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ FULL OUTER JOIN           ‚îÇ Tout A + Tout B                    ‚îÇ
‚îÇ A ‚à™ B                      ‚îÇ                                    ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```

In [ ]:
# INNER JOIN ‚Äî Clients avec leurs commandes
query = """
SELECT c.nom, cmd.produit, cmd.montant
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
ORDER BY c.nom
"""
con.execute(query).fetchdf()

In [ ]:
# LEFT JOIN ‚Äî Tous les clients, m√™me sans commande
query = """
SELECT c.nom, cmd.produit, cmd.montant
FROM clients c
LEFT JOIN commandes cmd ON c.id_client = cmd.id_client
ORDER BY c.nom
"""
print("üëÄ Remarque : Charlie n'a pas de commande (NULL)")
con.execute(query).fetchdf()

In [ ]:
# Trouver les clients sans commande
query = """
SELECT c.nom, c.email
FROM clients c
LEFT JOIN commandes cmd ON c.id_client = cmd.id_client
WHERE cmd.id_commande IS NULL
"""
print("üò¥ Clients sans aucune commande :")
con.execute(query).fetchdf()

---

## 5. Fonctions de date

| Fonction | Description | Exemple |
|----------|-------------|--------|
| `CURRENT_DATE` | Date du jour | `2024-01-15` |
| `EXTRACT()` | Extraire une partie | `EXTRACT(YEAR FROM date)` ‚Üí `2024` |
| `DATE_TRUNC()` | Tronquer √† une p√©riode | `DATE_TRUNC('month', date)` ‚Üí `2024-01-01` |
| `DATE_DIFF()` | Diff√©rence entre dates | `DATE_DIFF('day', date1, date2)` |

In [ ]:
# Ventes par mois
query = """
SELECT 
    DATE_TRUNC('month', date_commande) AS mois,
    SUM(montant) AS total_ventes,
    COUNT(*) AS nb_commandes
FROM commandes
GROUP BY DATE_TRUNC('month', date_commande)
ORDER BY mois
"""
print(" Ventes mensuelles :")
con.execute(query).fetchdf()

In [ ]:
# Commandes par jour de la semaine
query = """
SELECT 
    EXTRACT(DOW FROM date_commande) AS jour_num,
    CASE EXTRACT(DOW FROM date_commande)
        WHEN 0 THEN 'Dimanche'
        WHEN 1 THEN 'Lundi'
        WHEN 2 THEN 'Mardi'
        WHEN 3 THEN 'Mercredi'
        WHEN 4 THEN 'Jeudi'
        WHEN 5 THEN 'Vendredi'
        WHEN 6 THEN 'Samedi'
    END AS jour,
    COUNT(*) AS nb_commandes
FROM commandes
GROUP BY EXTRACT(DOW FROM date_commande)
ORDER BY jour_num
"""
con.execute(query).fetchdf()

---

## 6. CASE ‚Äî Conditions dans les requ√™tes

In [ ]:
# CASE ‚Äî Cat√©goriser les clients
query = """
SELECT 
    c.nom,
    SUM(cmd.montant) AS total_achats,
    CASE
        WHEN SUM(cmd.montant) >= 150 THEN 'ü•á Premium'
        WHEN SUM(cmd.montant) >= 100 THEN 'ü•à Standard'
        ELSE 'ü•â Basique'
    END AS categorie
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
ORDER BY total_achats DESC
"""
con.execute(query).fetchdf()

---

## 7. CTE (Common Table Expression) ‚Äî Requ√™tes lisibles

Les **CTEs** permettent de cr√©er des "tables temporaires" pour clarifier les requ√™tes complexes.

```sql
WITH nom_cte AS (
    SELECT ...
)
SELECT * FROM nom_cte;
```

In [ ]:
# CTE ‚Äî Calcul interm√©diaire r√©utilisable
query = """
WITH total_par_client AS (
    SELECT 
        c.id_client,
        c.nom,
        c.pays,
        SUM(cmd.montant) AS total
    FROM clients c
    JOIN commandes cmd ON c.id_client = cmd.id_client
    GROUP BY c.id_client, c.nom, c.pays
)
SELECT 
    nom,
    pays,
    total,
    CASE WHEN total > 100 THEN '‚úÖ VIP' ELSE '‚ùå' END AS vip
FROM total_par_client
ORDER BY total DESC
"""
con.execute(query).fetchdf()

---

## 8. Window Functions ‚Äî Calculs avanc√©s

Les **Window Functions** permettent de faire des calculs sur un groupe de lignes **sans les regrouper**.

| Fonction | Description |
|----------|-------------|
| `ROW_NUMBER()` | Num√©ro de ligne |
| `RANK()` | Classement (avec ex-aequo) |
| `DENSE_RANK()` | Classement sans saut |
| `LAG()` | Valeur de la ligne pr√©c√©dente |
| `LEAD()` | Valeur de la ligne suivante |
| `SUM() OVER()` | Somme cumulative |

In [ ]:
# RANK ‚Äî Classement des clients par total d'achats
query = """
SELECT 
    c.nom,
    SUM(cmd.montant) AS total_achats,
    RANK() OVER (ORDER BY SUM(cmd.montant) DESC) AS rang
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
"""
con.execute(query).fetchdf()

In [ ]:
# SUM OVER ‚Äî Total cumulatif
query = """
SELECT 
    date_commande,
    montant,
    SUM(montant) OVER (ORDER BY date_commande) AS cumul
FROM commandes
ORDER BY date_commande
"""
print(" √âvolution cumulative des ventes :")
con.execute(query).fetchdf()

In [ ]:
# LAG ‚Äî Comparer avec la p√©riode pr√©c√©dente
query = """
WITH mensuel AS (
    SELECT 
        DATE_TRUNC('month', date_commande) AS mois,
        SUM(montant) AS total
    FROM commandes
    GROUP BY DATE_TRUNC('month', date_commande)
)
SELECT 
    mois,
    total,
    LAG(total) OVER (ORDER BY mois) AS total_precedent,
    total - LAG(total) OVER (ORDER BY mois) AS evolution
FROM mensuel
ORDER BY mois
"""
print(" √âvolution mensuelle :")
con.execute(query).fetchdf()

---

## 9. Int√©gration avec Pandas

DuckDB s'int√®gre parfaitement avec Pandas !

In [ ]:
import pandas as pd

# R√©cup√©rer le r√©sultat en DataFrame Pandas
query = """
SELECT c.nom, c.pays, SUM(cmd.montant) AS total
FROM clients c
JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom, c.pays
ORDER BY total DESC
"""

df = con.execute(query).fetchdf()
print(type(df))  # C'est un DataFrame Pandas !
df

In [ ]:
# Requ√™ter directement un DataFrame Pandas avec SQL !
df_exemple = pd.DataFrame({
    'produit': ['A', 'B', 'C', 'A', 'B'],
    'ventes': [100, 200, 150, 120, 180]
})

# DuckDB peut requ√™ter le DataFrame directement
result = duckdb.query("""
    SELECT produit, SUM(ventes) AS total
    FROM df_exemple
    GROUP BY produit
    ORDER BY total DESC
""").fetchdf()

print("SQL directement sur un DataFrame Pandas :")
result

In [ ]:
# DuckDB peut aussi lire directement des fichiers CSV/Parquet
# Exemple (si tu as un fichier) :
# duckdb.query("SELECT * FROM 'mon_fichier.csv' LIMIT 10")
# duckdb.query("SELECT * FROM 'data.parquet' WHERE date > '2024-01-01'")

print("üí° DuckDB peut lire directement :")
print("   - CSV  : SELECT * FROM 'fichier.csv'")
print("   - Parquet : SELECT * FROM 'fichier.parquet'")
print("   - JSON : SELECT * FROM 'fichier.json'")

---

## 10. Exercices pratiques

Essaie de r√©soudre ces exercices dans les cellules de code ci-dessous !

---

### Exercice 1 ‚Äî Facile
Afficher tous les clients de France, tri√©s par nom.

<details><summary>üí° Solution</summary>

```sql
SELECT * FROM clients WHERE pays = 'France' ORDER BY nom;
```
</details>

---

### Exercice 2 ‚Äî Facile
Calculer le montant moyen des commandes.

<details><summary>üí° Solution</summary>

```sql
SELECT AVG(montant) AS montant_moyen FROM commandes;
```
</details>

---

### Exercice 3 ‚Äî Interm√©diaire
Afficher le total des achats par client, y compris ceux sans commande (afficher 0).

<details><summary>üí° Solution</summary>

```sql
SELECT c.nom, COALESCE(SUM(cmd.montant), 0) AS total
FROM clients c
LEFT JOIN commandes cmd ON c.id_client = cmd.id_client
GROUP BY c.nom
ORDER BY total DESC;
```
</details>

---

### Exercice 4 ‚Äî Interm√©diaire
Calculer les ventes par mois avec `DATE_TRUNC`.

<details><summary>üí° Solution</summary>

```sql
SELECT DATE_TRUNC('month', date_commande) AS mois, SUM(montant) AS total
FROM commandes
GROUP BY DATE_TRUNC('month', date_commande)
ORDER BY mois;
```
</details>

---

### Exercice 5 ‚Äî Avanc√©
Pour chaque client, afficher sa derni√®re commande (produit et date). *Indice : ROW_NUMBER()*

<details><summary>üí° Solution</summary>

```sql
WITH derniere AS (
    SELECT c.nom, cmd.produit, cmd.date_commande,
        ROW_NUMBER() OVER (PARTITION BY c.id_client ORDER BY cmd.date_commande DESC) AS rn
    FROM clients c
    JOIN commandes cmd ON c.id_client = cmd.id_client
)
SELECT nom, produit, date_commande FROM derniere WHERE rn = 1;
```
</details>

In [ ]:
# ‚úèÔ∏è Espace pour tes exercices
query = """
-- √âcris ta requ√™te ici
SELECT * FROM clients LIMIT 5
"""
con.execute(query).fetchdf()

---

## Quiz

---

### ‚ùì Q1. Quelle commande affiche toutes les colonnes d'une table `clients` ?
a) `SHOW * FROM clients;`  
b) `SELECT * FROM clients;`  
c) `LIST * FROM clients;`  
d) `DISPLAY * FROM clients;`

<details><summary>üí° R√©ponse</summary>

‚úÖ **b** ‚Äî `SELECT * FROM clients;` affiche toutes les colonnes.
</details>

---

### ‚ùì Q2. Quelle est la diff√©rence entre `WHERE` et `HAVING` ?
a) Aucune diff√©rence  
b) `WHERE` s'utilise avant `GROUP BY`, `HAVING` apr√®s  
c) `HAVING` est plus rapide  
d) `WHERE` ne peut filtrer que les nombres

<details><summary>üí° R√©ponse</summary>

‚úÖ **b** ‚Äî `WHERE` filtre avant agr√©gation, `HAVING` filtre apr√®s.
</details>

---

### ‚ùì Q3. Quel JOIN retourne UNIQUEMENT les lignes qui ont une correspondance ?
a) `LEFT JOIN`  
b) `RIGHT JOIN`  
c) `INNER JOIN`  
d) `FULL OUTER JOIN`

<details><summary>üí° R√©ponse</summary>

‚úÖ **c** ‚Äî `INNER JOIN` ne garde que les correspondances.
</details>

---

### ‚ùì Q4. √Ä quoi sert une CTE (`WITH`) ?
a) Cr√©er une table permanente  
b) D√©finir une sous-requ√™te r√©utilisable  
c) Supprimer des donn√©es  
d) Cr√©er un index

<details><summary>üí° R√©ponse</summary>

‚úÖ **b** ‚Äî Les CTEs cr√©ent des "tables temporaires" pour clarifier les requ√™tes.
</details>

---

### ‚ùì Q5. Quelle Window Function permet de classer les lignes ?
a) `COUNT()`  
b) `RANK()`  
c) `SUM()`  
d) `GROUP BY`

<details><summary>üí° R√©ponse</summary>

‚úÖ **b** ‚Äî `RANK() OVER (ORDER BY ...)` attribue un classement.
</details>

---

### ‚ùì Q6. Quel avantage de DuckDB pour un Data Engineer ?
a) Il n√©cessite un serveur  
b) Il peut requ√™ter directement des DataFrames Pandas  
c) Il ne supporte pas SQL standard  
d) Il ne lit pas les fichiers CSV

<details><summary>üí° R√©ponse</summary>

‚úÖ **b** ‚Äî DuckDB peut requ√™ter directement des DataFrames Pandas avec SQL.
</details>

---

## üìö Ressources

### üéÆ Pratiquer SQL en ligne
- [SQLBolt](https://sqlbolt.com/) ‚Äî Tutoriel interactif
- [Mode SQL Tutorial](https://mode.com/sql-tutorial/) ‚Äî Cas business r√©els
- [LeetCode SQL](https://leetcode.com/problemset/database/) ‚Äî D√©fis progressifs
- [HackerRank SQL](https://www.hackerrank.com/domains/sql) ‚Äî Exercices vari√©s

### ü¶Ü DuckDB
- [DuckDB Documentation](https://duckdb.org/docs/)
- [DuckDB SQL Reference](https://duckdb.org/docs/sql/introduction)

### üìñ Documentation SQL
- [PostgreSQL Documentation](https://www.postgresql.org/docs/current/sql.html)
- [W3Schools SQL](https://www.w3schools.com/sql/)

---

## ‚û°Ô∏è Prochaine √©tape

Tu ma√Ætrises maintenant SQL et sais l'ex√©cuter depuis Python ! D√©couvrons les concepts du **Big Data** et les bases **NoSQL**.

üëâ **Module suivant : `08_intro_big_data_nosql`** ‚Äî Big Data, traitement distribu√© et NoSQL

---

üéâ **F√©licitations !** Tu as termin√© le module SQL pour Data Engineers.